@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.invoice-container {
    width: 1164px;
    height: 1335px;
    flex-shrink: 0;
    background-color: white;
    font-family: Inter;
    padding: 0;
    margin: 0;
}

.invoice-container .Header {
    background-color: #4D6969;
    height: 230px;
    width: 1164px;
    display: flex;
    border-radius: 4px 4px 0px 0px;
}

.invoice-container .Header img {
    height: 28px;
    position: relative;
    top: 75px;
    left: 32px;
}

.invoice-container .invo_details h2 {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.invoice-container .invo_details {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    left: 582px;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    gap: 15px;
}

.invoice-container .invo_details li {
    font-size: 16px;
    font-weight: 400;
}

.invoice-container .bill_adress_container {
    display: flex;
    position: relative;
    top: 103px;
    left: 40px;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    text-align: left;
}

.invoice-container .bill_to_address_container h3 {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}

.invoice-container .bill_to_address_container li {
    color: rgba(109, 109, 109, 0.85);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.invoice-container .bill_to_address_container ul {
    left: 0;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 14px;
    margin-top: 0px;
    justify-content: space-evenly;
    gap: 5px;
    ;
    display: flex;
    flex-direction: column;
}

.invoice-container .bill_from_address_container h3 {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}

.invoice-container .bill_from_address_container li {
    color: rgba(109, 109, 109, 0.85);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.invoice-container .bill_from_address_container ul {
    left: 0;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 14px;
    margin-top: 0px;
    justify-content: space-evenly;
    gap: 5px;
    ;
    display: flex;
    flex-direction: column;
}

.invoice-container .bill_from_address_container {
    left: 400px;
    position: relative;
}

.invoice-container .sent {
    color: #F04551;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 254px;
    left: 1097px;
}

.Price_Table {
    top: 560px;
    position: absolute;
    display: flex;
    height: 50px;
    flex-shrink: 0;
    background: rgba(144, 203, 203, 0.12);
    width: 1164px;
    flex-direction: column;
}

.invoice-container .Price_Table th {
    color: rgba(0, 0, 0, 0.85);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 50px;
}

.invoice-container .header_1 {
    position: absolute;
    display: flex;
    align-items: center;
    left: 40px;
    padding: 0;
    margin: 0;
    width: 24px;
}

.invoice-container .header_2 {
    position: absolute;
    display: flex;
    align-items: center;
    left: 96px;
    padding: 0;
    margin: 0;
    width: 34px;
}

.invoice-container .header_3 {
    position: absolute;
    display: flex;
    align-items: center;
    left: 568px;
    padding: 0;
    margin: 0;
    width: 40px;
}

.invoice-container .header_4 {
    position: absolute;
    display: flex;
    left: 777px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 50px;
    align-items: center;
}

.invoice-container .header_5 {
    position: absolute;
    left: 961px;
    padding: 0;
    margin: 0;
    width: 41px;
    align-items: center;
    height: 50px;
    display: flex;
}

.invoice-container .first_column {
    top: 80px;
    position: absolute;
    display: flex;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.invoice-container .td1 {
    left: 40px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.invoice-container .td2 {
    left: 96px;
    position: absolute;
    display: flex;
    width: 324px;
}

.invoice-container .td3 {
    left: 568px;
    position: absolute;
    display: flex;
    width: max-content;
}

.invoice-container .td4 {
    left: 777px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.invoice-container .td5 {
    left: 961px;
    position: absolute;
    display: flex;
    width: max-content;
}

.invoice-container .second_column {
    top: 140px;
    position: absolute;
    display: flex;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.invoice-container .td6 {
    left: 40px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.invoice-container .td7 {
    left: 96px;
    position: absolute;
    display: flex;
    width: 324px;
}

.invoice-container .td8 {
    left: 568px;
    position: absolute;
    display: flex;
    width: max-content;
}

.invoice-container .td9 {
    left: 777px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.invoice-container .td10 {
    left: 961px;
    position: absolute;
    display: flex;
    width: max-content;
}

.invoice-container .third_column {
    top: 200px;
    position: absolute;
    display: flex;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.invoice-container .td11 {
    left: 40px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.invoice-container .td12 {
    left: 96px;
    position: absolute;
    display: flex;
    width: 324px;
}

.invoice-container .td13 {
    left: 568px;
    position: absolute;
    display: flex;
    width: max-content;
}

.invoice-container .td14 {
    left: 777px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.invoice-container .td15 {
    left: 961px;
    position: absolute;
    display: flex;
    width: max-content;
}

.invoice-container .total_price svg {
    left: 570px;
    top: 260px;
    position: absolute;
    display: flex;
}

.invoice-container .Total_part {
    color: rgba(0, 0, 0, 0.85);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 45px;
    top: 300px;
    position: absolute;
    width: 100%;
}

.invoice-container .subtotal {
    left: 570px;
    /* top: 340px; */
    position: absolute;
    display: flex;
}

.invoice-container .subtotal_price {
    left: 961px;
    /* top: 340px; */
    position: absolute;
    display: flex;
}

.invoice-container .city_tax {
    left: 570px;
    /* top: 390px; */
    position: absolute;
    display: flex;
}

.invoice-container .tax_price {
    left: 777px;
    /* top: 390px; */
    position: absolute;
    display: flex;
    color: #6D6D6D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.invoice-container .total_tax_price {
    left: 961px;
    /* top: 390px; */
    position: absolute;
    display: flex;
}

.invoice-container .VAT {
    left: 570px;
    /* top: 430px; */
    position: absolute;
    display: flex;
}

.invoice-container .rooms1 {
    left: 570px;
    /* top: 510px; */
    position: absolute;
    display: flex;
}


.invoice-container .invoice-container s {
    left: 570px;
    /* top: 470px; */
    position: absolute;
    display: flex;
}

.invoice-container .Percentage_1 {
    left: 777px;
    /* top: 470px; */
    position: absolute;
    display: flex;
    color: #6D6D6D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.invoice-container .rooms_price {
    left: 961px;
    /* top: 470px; */
    position: absolute;
    display: flex;
}

.invoice-container .GS {
    left: 570px;
    /* top: 510px; */
    position: absolute;
    display: flex;
}

.invoice-container .Percentage_2 {
    left: 777px;
    /* top: 510px; */
    position: absolute;
    display: flex;
    color: #6D6D6D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.invoice-container .GS_price {
    left: 961px;
    /* top: 510px; */
    position: absolute;
    display: flex;
}

.invoice-container .Food {
    left: 570px;
    /* top: 550px; */
    position: absolute;
    display: flex;
}

.invoice-container .Percentage_3 {
    left: 777px;
    /* top: 550px; */
    position: absolute;
    display: flex;
    color: #6D6D6D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.invoice-container .food_price {
    left: 961px;
    /* top: 550px; */
    position: absolute;
    display: flex;
}

.invoice-container .line_2 {
    left: 570px;
    top: 270px;
    position: absolute;
    display: flex;
    background-color: rgba(161, 161, 161, 0.54);
    height: 1px;
    width: 468px;
}

.invoice-container .final_total {
    left: 570px;
    top: 300px;
    position: absolute;
    display: flex;
}

.invoice-container .final_total_price {
    left: 961px;
    top: 300px;
    position: absolute;
    display: flex;
}

.invoice-container .paid_total {
    left: 570px;
    top: 345px;
    position: absolute;
    display: flex;
}

.invoice-container .paid_total_price {
    left: 961px;
    top: 345px;
    position: absolute;
    display: flex;
}

.invoice-container .line_3 {
    left: 570px;
    top: 390px;
    position: absolute;
    display: flex;
    background-color: rgba(161, 161, 161, 0.54);
    height: 1px;
    width: 468px;
}

.invoice-container .due_total {
    left: 570px;
    top: 425px;
    position: absolute;
    display: flex;
}

.invoice-container .due_total_price {
    left: 961px;
    top: 425px;
    position: absolute;
    display: flex;
    color: rgba(240, 69, 81, 0.85);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.invoice-container .notes {
    width: 502px;
    height: 193px;
    border-radius: 4px;
    border: 1px solid rgba(161, 161, 161, 0.54);
    display: flex;
    position: absolute;
    top: 547px;
    left: 40px;
    margin: 0px;
    padding: 0px;
}

.invoice-container .notes p {
    color: #6D6D6D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 23px;
    left: 23px;
    position: absolute;
    margin: 0px;
    padding: 0px;
}