@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.invoice-container {
    width: 1164px;
    height: 1335px;
    flex-shrink: 0;
    background-color: white;
    font-family: Inter;
    padding: 0;
    margin: 0;
}

.Header {
    background-color: #4D6969;
    height: 230px;
    width: 1164px;
    display: flex;
    border-radius: 4px 4px 0px 0px;
}

.Header img {
    height: 28px;
    position: relative;
    top: 75px;
    left: 32px;
}

.invo_details h2 {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.invo_details {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 32px;
    left: 582px;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    gap: 15px;
}

.invo_details li {
    font-size: 16px;
    font-weight: 400;
}

.bill_adress_container {
    display: flex;
    position: relative;
    top: 103px;
    left: 40px;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    text-align: left;
}

.bill_to_address_container h3 {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}

.bill_to_address_container li {
    color: rgba(109, 109, 109, 0.85);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.bill_to_address_container ul {
    left: 0;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 14px;
    margin-top: 0px;
    justify-content: space-evenly;
    gap: 5px;
    ;
    display: flex;
    flex-direction: column;
}

.bill_from_address_container h3 {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}

.bill_from_address_container li {
    color: rgba(109, 109, 109, 0.85);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.bill_from_address_container ul {
    left: 0;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 14px;
    margin-top: 0px;
    justify-content: space-evenly;
    gap: 5px;
    ;
    display: flex;
    flex-direction: column;
}

.bill_from_address_container {
    left: 400px;
    position: relative;
}

.sent {
    color: #F04551;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 254px;
    left: 1097px;
}

.Price_Table {
    top: 560px;
    position: absolute;
    display: flex;
    height: 50px;
    flex-shrink: 0;
    background: rgba(144, 203, 203, 0.12);
    width: 1164px;
    flex-direction: column;
}

.Price_Table th {
    color: rgba(0, 0, 0, 0.85);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 50px;
}

.header_1 {
    position: absolute;
    display: flex;
    align-items: center;
    left: 40px;
    padding: 0;
    margin: 0;
    width: 24px;
}

.header_2 {
    position: absolute;
    display: flex;
    align-items: center;
    left: 96px;
    padding: 0;
    margin: 0;
    width: 34px;
}

.header_3 {
    position: absolute;
    display: flex;
    align-items: center;
    left: 568px;
    padding: 0;
    margin: 0;
    width: 40px;
}

.header_4 {
    position: absolute;
    display: flex;
    left: 777px;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 50px;
    align-items: center;
}

.header_5 {
    position: absolute;
    left: 961px;
    padding: 0;
    margin: 0;
    width: 41px;
    align-items: center;
    height: 50px;
    display: flex;
}

.first_column {
    top: 80px;
    position: absolute;
    display: flex;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.td1 {
    left: 40px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.td2 {
    left: 96px;
    position: absolute;
    display: flex;
    width: 324px;
}

.td3 {
    left: 568px;
    position: absolute;
    display: flex;
    width: max-content;
}

.td4 {
    left: 777px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.td5 {
    left: 961px;
    position: absolute;
    display: flex;
    width: max-content;
}

.second_column {
    top: 140px;
    position: absolute;
    display: flex;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.td6 {
    left: 40px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.td7 {
    left: 96px;
    position: absolute;
    display: flex;
    width: 324px;
}

.td8 {
    left: 568px;
    position: absolute;
    display: flex;
    width: max-content;
}

.td9 {
    left: 777px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.td10 {
    left: 961px;
    position: absolute;
    display: flex;
    width: max-content;
}

.third_column {
    top: 200px;
    position: absolute;
    display: flex;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.td11 {
    left: 40px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.td12 {
    left: 96px;
    position: absolute;
    display: flex;
    width: 324px;
}

.td13 {
    left: 568px;
    position: absolute;
    display: flex;
    width: max-content;
}

.td14 {
    left: 777px;
    position: absolute;
    display: flex;
    width: fit-content;
}

.td15 {
    left: 961px;
    position: absolute;
    display: flex;
    width: max-content;
}

.total_price svg {
    left: 570px;
    top: 260px;
    position: absolute;
    display: flex;
}

.Total_part {
    color: rgba(0, 0, 0, 0.85);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 45px;
    top: 300px;
    position: absolute;
    width: 100%;
}

.subtotal {
    left: 570px;
    /* top: 340px; */
    position: absolute;
    display: flex;
}

.subtotal_price {
    left: 961px;
    /* top: 340px; */
    position: absolute;
    display: flex;
}

.city_tax {
    left: 570px;
    /* top: 390px; */
    position: absolute;
    display: flex;
}

.tax_price {
    left: 777px;
    /* top: 390px; */
    position: absolute;
    display: flex;
    color: #6D6D6D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.total_tax_price {
    left: 961px;
    /* top: 390px; */
    position: absolute;
    display: flex;
}

.VAT {
    left: 570px;
    /* top: 430px; */
    position: absolute;
    display: flex;
}

.invoice-container .invoice-container s {
    left: 570px;
    /* top: 470px; */
    position: absolute;
    display: flex;
}

.Percentage_1 {
    left: 777px;
    /* top: 470px; */
    position: absolute;
    display: flex;
    color: #6D6D6D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.invoice-container .rooms_price {
    left: 961px;
    /* top: 470px; */
    position: absolute;
    display: flex;
}

.GS {
    left: 570px;
    /* top: 510px; */
    position: absolute;
    display: flex;
}

.Percentage_2 {
    left: 777px;
    /* top: 510px; */
    position: absolute;
    display: flex;
    color: #6D6D6D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.GS_price {
    left: 961px;
    /* top: 510px; */
    position: absolute;
    display: flex;
}

.Food {
    left: 570px;
    /* top: 550px; */
    position: absolute;
    display: flex;
}

.Percentage_3 {
    left: 777px;
    /* top: 550px; */
    position: absolute;
    display: flex;
    color: #6D6D6D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.food_price {
    left: 961px;
    /* top: 550px; */
    position: absolute;
    display: flex;
}

.line_2 {
    left: 570px;
    top: 270px;
    position: absolute;
    display: flex;
    background-color: rgba(161, 161, 161, 0.54);
    height: 1px;
    width: 468px;
}

.final_total {
    left: 570px;
    top: 300px;
    position: absolute;
    display: flex;
}

.final_total_price {
    left: 961px;
    top: 300px;
    position: absolute;
    display: flex;
}

.paid_total {
    left: 570px;
    top: 345px;
    position: absolute;
    display: flex;
}

.paid_total_price {
    left: 961px;
    top: 345px;
    position: absolute;
    display: flex;
}

.line_3 {
    left: 570px;
    top: 390px;
    position: absolute;
    display: flex;
    background-color: rgba(161, 161, 161, 0.54);
    height: 1px;
    width: 468px;
}

.due_total {
    left: 570px;
    top: 425px;
    position: absolute;
    display: flex;
}

.due_total_price {
    left: 961px;
    top: 425px;
    position: absolute;
    display: flex;
    color: rgba(240, 69, 81, 0.85);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.notes {
    width: 502px;
    height: 193px;
    border-radius: 4px;
    border: 1px solid rgba(161, 161, 161, 0.54);
    display: flex;
    position: absolute;
    top: 547px;
    left: 40px;
    margin: 0px;
    padding: 0px;
}

.notes p {
    color: #6D6D6D;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 23px;
    left: 23px;
    position: absolute;
    margin: 0px;
    padding: 0px;
}