.hp-tab .mantine-fq0g4p {
    border-bottom: none;
}

.hp-tab .mantine-1rb9ahf {
    color: #4D6969;
    /* H5/medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}