.navigationTopBar .mantine-Tabs-tab {
    border-radius: 4px;
    border: 1px solid #4D6969;
    background: rgba(238, 238, 238, 0.12);
    /* drop-shadow/button-secondary */
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);
    margin-right: 8px;
    border: 1px solid var(--neutral-5, #D9D9D9);
    color: rgba(0, 0, 0, 0.50);
}

.navigationTopBar {
    padding: 14px;
    border-radius: 8px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationTopBar .mantine-1g59u6r[data-active] {
    color: #3A7C7C;
    background-color: red;
    background: rgba(144, 203, 203, 0.12);
    border: 1px solid #3A7C7C;
}